<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="{%n 'timestamp': '%d{dd-MMM-yyyy HH:mm:ss.SSS}',%n 'thread': '%thread',%n 'level': '%level',%n 'logger': '%logger',%n 'message': '%msg' %n } %n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
