<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="net.logstash.log4j2">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout eventEol="true">
                <KeyValuePair key="timestamp" value="$${date:dd-MMM-yyyy HH:mm:ss.SSS}"/>
                <KeyValuePair key="thread" value="$${thread}"/>
                <KeyValuePair key="level" value="$${level}"/>
                <KeyValuePair key="logger" value="$${logger}"/>
                <KeyValuePair key="message" value="$${message}"/>
            </JsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>